@import "tailwindcss";

:root {
  --background: #1B1B1B;
  --primary: #EDEDED;
  --accent: #FFFF9A;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-space-grotesk);
  --font-display: var(--font-bebas-neue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
